@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<div ng-app="eggs2throw">
    <div ng-controller="movieView">
       <div ng-repeat="movie in movies">
            <h2>{{movie.title}}</h2>
            <canvas id="canvas{{movie.id}}" class="meter"></canvas>
        </div>
    </div>
</div>
