@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<div ng-app="eggs2throw">
    <div ng-controller="movieView">
        <div ng-repeat="movie in movies">
            <h2>{{movie.name}}</h2>
            <p>{{movie.category}}</p>
            <a href="{{movie.link}}">Preview Trailer</a>
            <p>Director: {{movie.director}}</p>
            <p>Cast: {{movie.movieCast}}</p>
            <p>{{movie.movieLang}}</p>
            <p>Songs: {{movie.songs}}</p>
            <p>{{movie.picture}}</p>
            <p>Up Votes: {{movie.upVotes}}</p>
            <canvas id="canvas{{movie.movieId}}" class="meter"></canvas>
        </div>
    </div>
</div>
